<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Books App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>Books List</h1>
    <hr />
    <form action="/app/books" method="POST" onsubmit="return validate()">
        <label>Title</label> </br>
        <input type="text" name="title" placeholder="title of book"/> </br>
        <label>URL</label> </br>
        <input type="text" name="url" placeholder="ex: www.google.com/book.jpg"/><br/>
        <label>Description</label> <br>
        <textarea  name="description" placeholder="summary description" rows="4" cols="50"></textarea></br>
        <input type="submit" value="save" />
    </form> 
    <hr />
    <ul>
        <% books.forEach( book => { %> 
            <li>
                <img src="<%= book.url %>" />
                <a href="/app/books/<%= book._id %>">
                    <strong><%= book.title %></strong>
                </a>
                <form class="form_delete" method="POST" action="/app/books/<%= book._id %>?_method=DELETE" >
                  <button type="submit">Delete</button>
                </form> 
            </li>
        <% }) %> 
    </ul>
  </body>
  <script src="/javascripts/main.js"></script>
</html>